input
{
    display: flex;
    max-width: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

td, th
{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

tr
{
    display: flex;
    align-content: baseline;
}